/*デフォルトの設定*/
*{margin:0;padding:0}
/*ヘッダの設定*/
div#header{
/*ボックスの設定*/
padding: 0 0 0 2%;/*枠内余白*//*上右下左の余白*/
/*文字の設定*/
color: black;/*文字の色*//*白*/ }
/*コンテンツの設定*/
div#content{
/*ボックスの設定*/
width: 83%;/*
幅*/
height: 1200px;/*高さ*/
padding: 0 0 0 2%;/*枠内余白*//*上右下左の余白*/
/*ボックスの配置*/
float: right;/*回り込み*//*右寄せ*/ }
/*ナビの設定*/
div#navi{
/*ボックスの設定*/
width: 100px;/*
幅*/
height: 80px;/*高さ*/
padding: 0 0 0 2%;/*枠内余白*//*上右下左の余白*/
background: #B9CAFF;/*背景*//*色*/
/*ボックスの配置*/
float: left;/*回り込み*//*左寄せ*/ }
/*フッターの設定*/
div#footer{
/*ボックスの設定*/
padding: 0 0 0 2%;/*枠内余白*//*上右下左の余白*/
/*ボックスの配置*/
clear: both;/*回り込み解除*//*左右解除*/ }

.ggmap {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}
 
.ggmap iframe,
.ggmap object,
.ggmap embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

h2 {
 width:auto;
 border-left:20px;
 padding-left:20px
}